<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCHibernateCRUD:war">
    <output-path>E:/workspaces/niitworkspace/SpringMVCHibernateCRUD/target</output-path>
    <root id="archive" name="SpringMVCHibernateCRUD.war">
      <element id="artifact" artifact-name="SpringMVCHibernateCRUD:war exploded" />
    </root>
  </artifact>
</component>